{{>layouts/header}}

<form action="/article" method="post">
    <div class="container align-middle">
        <h1>write</h1>
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="mb-3">
            <label class="form-label">Contents</label>
            <textarea rows="3" class="form-control" name="contents"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{{>layouts/footer}}