{{>layouts/header}}


<div class="container">
    <h1>detail page</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Contents</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        {{#article}}
            <tbody>
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{contents}}</td>
                <td><a href="/article/update/{{article.id}}" class="btn btn-primary">Update</a></td>
                <td><a href="/article/delete/{{article.id}}" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
            </tr>
            </tbody>
        {{/article}}
    </table>
</div>

{{>layouts/footer}}